.profile-container {
  width: auto;
  height: auto;
}

.profile-figure {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 290px;
  height: 397px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

#profile-card {
  background-image: url(../images/Ghazi-ProfilePicture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ----------------------------------------------- */

.profileinfo-figure {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 40%;
  width: 11cm;
  height: 220px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#profileinfo-card {
  margin-top: 10px;
  color: aliceblue;
}

/* ----------------------------------------------- */
/* SVG Graphics */
.svg-graphic1 {
  position: absolute;
  top: 13%;
  left: 26%;
  width: auto;
  height: auto;
}

.svg-graphic2 {
  position: absolute;
  top: 65%;
  left: 70%;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  z-index: 1;
}

.svg-graphic3 {
  position: absolute;
  top: 86%;
  left: 4%;
  width: auto;
  height: auto;
}

.svg-graphic4 {
  position: absolute;
  top: 25%;
  left: 64%;
}

/* ----------------------------------------------- */
/* Learn more Button*/

.buttonwrap {
  position: absolute;
  top: 30%;
  left: 85%;
  float: right;
  align-content: center;
}

.learnmore {
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.learnmore:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* ----------------------------------------------- */
.svg-arrow2 {
  position: absolute;
  top: 48%;
  left: 79%;
  transform: rotate(25deg);
}
