.profile-container {
  width: auto;
  height: auto;
}

.profile-figure {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 290px;
  height: 397px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

#profile-card {
  background-image: url(../images/Ghazi-ProfilePicture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ----------------------------------------------- */

.profileinfo-figure {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 40%;
  width: 11cm;
  height: 220px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#profileinfo-card {
  margin-top: 10px;
  color: aliceblue;
}

/* ----------------------------------------------- */
/* SVG Graphics */
.svg-graphic1 {
  position: absolute;
  top: 13%;
  left: 26%;
  width: auto;
  height: auto;
}

.svg-graphic2 {
  position: absolute;
  top: 65%;
  left: 70%;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  z-index: 1;
}
